[Unit]
Description=Docker Container %I
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -h %H --name %i --privileged --network=host %i
ExecStop=/usr/bin/docker rm -f %i

[Install]
WantedBy=default.target
